<footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 Job Analysis Tool. All rights reserved.</p>
        <p class="mt-2">Developed by <span class="font-bold">Vivek Reddy</span></p>
        <div class="mt-2 flex justify-center space-x-4">
            <a href="https://www.linkedin.com/in/viveknarayanareddy/" target="_blank" class="text-white hover:text-gray-400">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="https://github.com/hnvivek" target="_blank" class="text-white hover:text-gray-400">
                <i class="fab fa-github fa-lg"></i>
            </a>
        </div>
    </div>
</footer>
